<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bs4 grid</title>
    <!--    start of js connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <!--    end of js connection-->
    <!--    start css connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/styles.css">
    <!--    end of css connection-->
</head>
<body>
<div class="b bg-dark row">
    <div class="b bg-success col-md-6 col-sm-7 col-2 col-lg-4"></div>
    <div class="b bg-primary col-md-6 col-sm-5 col-10 col-lg-8"></div>
</div>
<div class="b bg-info row">
    <div class="b bg-secondary col-4 col-sm-2 col-lg-4"></div>
    <div class="b bg-light col-4 col-sm-8 col-lg-6"></div>
    <div class="b bg-danger col-4 col-sm-2  col-lg-2"></div>
</div>
<div class="b bg-warning row">
    <div class="b bg-danger col-4 col-sm-4  col-lg-4"></div>
    <div class="b bg-secondary col-2 col-sm-3  col-lg-3"></div>
    <div class="b bg-warning col-4 col-sm-2  col-lg-2"></div>
    <div class="b bg-primary col-2 col-sm-3  col-lg-3"></div>
</div>

</body>
</html>