<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap home</title>
    <!--    start js connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <!--    end of js connection-->
    <!--    start css connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/styles.css">
    <!--    end of css connection-->
</head>
<body>
<h1 class="text-info text-center text-uppercase">eMobilis Coding School</h1>
<button class="btn btn-secondary">Home</button>
<button class="btn btn-success">About</button>
<button class="btn btn-info">Gallery</button>
<button class="btn btn-danger">Register</button>
<button class="btn btn-warning">Login</button>
<hr>
<h1 class="text-info">Bootstraps Tables</h1>
<!--start of bs4 tables-->
<table class="table table-hover">
    <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
    </tr>
    <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
    </tr>
    <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
    </tr>
    </tbody>
</table>
<!--end of bs4 table-->
<h1>Bootstrap images</h1>
<!--start of bs4 images-->
<img class="a rounded"  src="../static/images/pic%202.png" alt="my pic 1">
<img class="a rounded-circle" src="../static/images/pic1.png" alt="my pic 2">
<img class="a img-thumbnail" src="../static/images/pic7.jpeg" alt="my pic 3">
<img class="a rounded-circle" src="../static/images/pic1.png" alt="my pic 4">
<!--end of bs4 images-->
</body>
</html>